body {
    background-color: #D9E6F6;
    width: 100%;
    height: 100vh;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 1rem;
    padding: 1rem;
}

.conteudo {
    display: flex;
    justify-content: space-between;
    gap: 0.8rem;
    width: 95%;
}

.banner {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 3rem;
    gap: 1.4rem;
    width: 60%;
    border-radius: 8px;
}

.banner img {
    width: 150px;
    height: 130px;
}

.paragrafo {
    font-family: 'Rubik';
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.destaqueRosa {
    font-family: 'Rubik';
    font-weight: 700;
    color: rgb(226, 32, 155);
}

.arealogin {
    text-align: center;
    width: 40%;
    border-radius: 8px;
}

.tituloFormulario, .destaque {
    font-family: 'Rubik';
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.destaque {
    font-weight: 700;
}
.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    background-color: #F1F9FE;
    padding: 2rem;
    gap: 0.5rem
}

input {
    background-color: #FFFFFF;
    border: 1px solid #C5C6CA;
    border-radius: 8px;
    padding: .8rem;
    width: 75%;
}

.esqueciSenha {
    font-family: 'Rubik';
    color: #2E7BB4; 
    font-size: 12px; 
    font-weight: 500; 
    display: flex;
    justify-self: start;
}

.botaoFormulario {
    margin: 2rem 0;
    background-color: #2E7BB4;
    border-radius: 8px;
    padding: 8px;
    width: 75%;
    color: #FFFFFF;
    border: 1px solid #2E7BB4;
    text-decoration: none;
}

.rodape{
    background-color: #BBCDE8;
    border-radius: 8px;
    width: 95%;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rodape p {
    font-family: 'Rubik';
    margin: 0;
}